* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

.slides-box,
span {
    display: flex;
    height: 100vh;
    width: 100%;
}

.slides-box img {
    height: 100%;
    width: 26vw;
    object-fit: cover;
}

.btn {
    position: fixed;
    height: 100vh;
    width: 10rem;
    background-color: transparent;
    border: none;
    z-index: 10;
}

.btn img {
    height: 5rem;
    background-color: rgba(255, 0, 0, 0.452);
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.move-right {
    left: 88.3vw;
    bottom: 0;
}

.move-left {
    left: 0;
}

nav {
    position: fixed;
    width: 30rem;
}

nav,
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    left: 32vw;
    bottom: 0;
}

nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li {
    height: 1.3rem;
    width: 1.3rem;
    margin: 1rem;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.452);
    border-radius: 10px;
    box-shadow: 0 0 20px white;
    transition: 700ms;
}

nav ul li:hover {
    background-color: rgb(255, 0, 0);
}